.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 4rem;
}
.navbar img{
    height: 4rem;
    margin-left: 1rem;
}
.navbar ul{
    width: 40%;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    margin-right: 1.5rem;
}
.navbar ul li {
    cursor: pointer;
    border-bottom: solid 1px transparent;
}
.navbar ul li:hover{
    border-bottom: solid .5px black;
    transition: border-bottom .5s ease-in-out;
}

.navbar ul li *{
    text-decoration: none;
    color: black;
}
