*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Fira Sans', sans-serif;
}

html,body {
  min-height: 100vh;
}
#root{
  min-height: 100vh;
}
.App{
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}